<div class="contentBox">
  <h2>Account Info</h2>
  <br>
  <div class="avatarOuter auto">
        <div class="avatarInner">
          {{firstInitial}}{{lastInitial}}
        </div>
  </div>
  <div class="outlineBox auto" margin-top style="margin-top:16px!important;">
        <div text-center >
        <strong>{{userDetails.nameFirst}} {{userDetails.nameLast}}</strong>
        <br>
        {{userDetails.email}}
        </div>
  </div>
      <br>
  <div style="text-align:left;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [routerLink]="['/user/', userService.userID, 'update-info']">
        <a>Update Account Info</a>
      </li>
      <li class="list-group-item" [routerLink]="['/user/', userService.userID, 'make-order']">
        Make Order
      </li>

      <li class="list-group-item" [routerLink]="['/user/', userService.userID, 'order-history']">
        View Order History
      </li>
      <li class="list-group-item" (click)="userService.logOut()">
        Logout
      </li>
    </ul>




  </div>
</div>
