

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand nav-link" routerLink="/" routerLinkActive="active current">
    <img class="logo" src="assets/angular.png" title="angular">
    Home
  </a>
  <button class="navbar-toggler" type="button"
          (click)="navBarOpen = !navBarOpen">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navBarOpen }">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!userService.isUserLoggedIn()" class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li *ngIf="userService.isUserLoggedIn()" class="nav-item" routerLinkActive="active current">
        <a class="nav-link" [routerLink]="['/user/', userService.userID]" id="myAccountLink">My Account</a>
      </li>

      <li  *ngIf="userService.isUserLoggedIn()" class="nav-item" routerLinkActive="active current">
        <a class="nav-link" (click)="userService.logOut()" id="logoutLink">Logout</a>
      </li>
    </ul>
  </div>
</nav>
